<kryptand-add-edit-posts
  [post]="selectedPost"
  (createEventTriggered)="savePost($event)"
  (updateEventTriggered)="updatePost($event)"
></kryptand-add-edit-posts>

<div *ngFor="let item of posts$ | async" [class.deleted]="item.deleted">
  title: {{ item.title }} author: {{ item.author }} id: {{ item.id }}
  <button [disabled]="item.deleted" (click)="deletePost(item.id)">
    Delete
  </button>
  <button [disabled]="!item.deleted" (click)="revertDelete(item.id)">
    Revert
  </button>
  <button (click)="setCurrentItem(item)">
    Edit
  </button>
</div>

<button (click)="executeChanges($event)">
  Execute all changes
</button>
